@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,300&display=swap");



html {
  font-size: 16px;
  font-family: "Newsreader", serif;
}

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1; /*This sets the z-index of the element to 1, which means that it will appear on top of elements with a lower z-index.*/
  top: 0; /* Top and left = 0 set position to top left of viewport*/
  left: 0;
  background-color: #111;
  overflow-x: hidden; /*This hides any horizontal overflow of content within the element.*/
  padding-top: 20px;
  color: azure;
}

#maincontent {
  margin-left: 220px; /* Same as the width of the sidenav */
}

.pagetitle {
  /* display: flex;
  flex-wrap: wrap; */
  /* align-self: center;
  justify-content: center; */
  text-align: center;
  /* background-color: #ff4297; */
  background-color: #CC3F0C;
  padding: 10px 0;
  color: white;
  font-size: 30px;
}

.date {
  background-color: #D8CBC7;
  margin: 0;
  padding: 10px;
  color: black;
  font-size: 20px;
}

.name {
  background-color: #9A6D38;
  color: white;
  margin: 0;
  padding: 10px;
  font-size: 20px;
}

.addmoviebox {
  margin: 20px;
  line-height: 1.2;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* .flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-evenly;
} */
/*A "Flexible Layout" must have a parent element with the display property set to flex.*/
/* by default flex items are laid out in source order */
/* commented this style out when changed to list format from cards */

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
    align-content: center;
  }
}
/* @media is used in media queries to apply different styles in different conditions. Media queries can be used to check: width and height of viewport, width and height of device, orientation of device, and resolution.*/
/* This @media rule will change "flex-container" to a column when viewport < "max-width"*/

.addbutton {
  margin: 20px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.rearrangebutton {
  margin: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* I changed the name of this class to remove it, used to have 'card' formatting but changed to list. */
.flex-containerxxx > div {
  /*this will target <div> elements that are direct children (>) of .flex-container elements)*/
  /* background-color: #f1f1f1; */
  flex: auto;
  width: 400px;
  height: max-content;
  /* max-width: 600px; */
  margin: 10px;
  text-align: left;
  line-height: normal;
  font-size: 30px;
  word-wrap: break-word;
  background-color: white;
  border: 1px solid black;
  background-position: center;
  font-size: 25px;
  line-height: normal;
  /* border-radius: 25px; adds curves to cards */
}

.flex-container > div {
  text-align: left;
  line-height: normal;
  font-size: 30px;
  word-wrap: break-word;
  background-color: white;
  text-align: left;
  position: relative;
}

.flex-container p {
  margin: 30px;
}

.flex-container button {
  position: absolute;
  top: 40px;
  right: 20px;
}


/* Edits webpage for media devices */
@media (max-width: 800px) {
  .sidenav {
    height: 430px;
    width: 100%;
    position: absolute;
    z-index: 1; /*This sets the z-index of the element to 1, which means that it will appear on top of elements with a lower z-index.*/
    top: 0; /* Top and left = 0 set position to top left of viewport*/
    left: 0;
    background-color: #111;
    overflow-x: hidden; /*This hides any horizontal overflow of content within the element.*/
    padding-top: 20px;
    color: azure;
  }

  .addbutton {
    margin: 20px 0;
    position: relative;
    left: 110px;
    transform: translateX(-50%);
  }
  
  .rearrangebutton {
    margin: 0;
    position: absolute;
    left: 110px;
    top: 360px;
    transform: translateX(-50%);
  }

  #maincontent {
    margin: 0 auto; 
    margin-top: 470px; /* Same as the height of the sidenav */
  }
}